examples-rclpy-minimal-service==0.15.4
ros2lifecycle==0.18.13
launch-param-builder==0.1.1
launch-yaml==1.0.10
rqt-topic==1.5.0
rqt-graph==1.3.1
ros2cli==0.18.13
ament-xmllint==0.12.14
ros2test==0.4.0
topic-monitor==0.20.5
ros2action==0.18.13
turtlebot3-teleop==2.3.3
ros2bag==0.15.15
rqt-msg==1.2.0
ament-cpplint==0.12.14
launch==1.0.10
launch-testing-ros==0.19.10
sensor-msgs-py==4.9.0
rqt-srv==1.0.3
rqt-gui-py==1.1.7
rqt-reconfigure==1.1.2
turtlebot3-autorace-detect==1.2.2
ament-flake8==0.12.14
ament-copyright==0.12.14
ament-pycodestyle==0.12.14
tf-transformations==1.1.0
launch-xml==1.0.10
ament-uncrustify==0.12.14
rosidl-runtime-py==0.9.3
tf2-ros-py==0.25.15
rpyutils==0.2.1
urdfdom-py==1.2.1
turtlebot3-autorace-mission==1.2.2
launch-testing==1.0.10
rqt-action==2.0.1
rqt-py-console==1.0.2
ros2topic==0.18.13
ament-pep257==0.12.14
examples-rclpy-executors==0.15.4
nav2-simple-commander==1.0.0
action-tutorials-py==0.20.5
rqt-gui==1.1.7
ros2doctor==0.18.13
ament-cppcheck==0.12.14
rqt-shell==1.0.2
rosidl-cli==3.1.7
rqt-plot==1.1.5
tf2-tools==0.25.15
demo-nodes-py==0.20.5
ros2pkg==0.18.13
quality-of-service-demo-py==0.20.5
ros2service==0.18.13
ament-lint-cmake==0.12.14
joint-state-publisher==2.4.0
ament-package==0.14.1
examples-rclpy-minimal-action-client==0.15.4
sros2==0.10.7
rqt-service-caller==1.0.5
turtlebot3-example==2.3.3
rqt-console==2.0.3
ament-index-python==1.4.0
examples-rclpy-minimal-client==0.15.4
osrf-pycommon==2.1.6
examples-rclpy-minimal-subscriber==0.15.4
launch-ros==0.19.10
ros2param==0.18.13
ament-mypy==0.12.14
ros2run==0.18.13
examples-rclpy-minimal-action-server==0.15.4
turtlebot3-autorace-camera==1.2.2
ros2node==0.18.13
ros2launch==0.19.10
ros2controlcli==2.51.0
moveit-configs-utils==2.5.9
ros2interface==0.18.13
rqt-publisher==1.5.0
generate-parameter-library-py==0.5.0
domain-coordinator==0.10.0
ros2component==0.18.13
rqt-bag-plugins==1.1.5
teleop-twist-keyboard==2.4.0
rqt-bag==1.1.5
examples-rclpy-minimal-publisher==0.15.4
ros2multicast==0.18.13
joint-state-publisher-gui==2.4.0
ament-lint==0.12.14
visualization-msgs==4.9.0
shape-msgs==4.9.0
srdfdom==2.0.7
map-msgs==2.1.0
controller-manager-msgs==2.51.0
rosbag2-py==0.15.15
angles==1.15.0
turtlebot3-msgs==2.4.0
robot-localization==3.5.3
nav-2d-msgs==1.1.18
rosidl-parser==3.1.7
rosidl-typesupport-fastrtps-c==2.2.2
bond==4.1.2
dwb-msgs==1.1.18
tf2-kdl==0.25.15
cartographer-ros-msgs==2.0.9002
moveit-msgs==2.2.1
diagnostic-msgs==4.9.0
logging-demo==0.20.5
ros2cli-test-interfaces==0.18.13
ackermann-msgs==2.0.2
rosidl-typesupport-cpp==2.0.2
ament-cmake-test==1.3.12
action-tutorials-interfaces==0.20.5
smclib==4.1.2
tf2-py==0.25.15
gazebo-msgs==3.9.0
nav2-common==1.1.18
scripts==3.9.0
message-filters==4.3.8
rosidl-typesupport-fastrtps-cpp==2.2.2
nav2-msgs==1.1.18
test-msgs==1.2.2
unique-identifier-msgs==2.2.1
rmw-dds-common==1.6.0
rosidl-typesupport-introspection-c==3.1.7
qt-gui-py-common==2.2.4
rcutils==5.1.6
rcl-interfaces==1.2.2
rosidl-generator-c==3.1.7
statistics-msgs==1.2.2
nav-msgs==4.9.0
stereo-msgs==4.9.0
qt-gui==2.2.4
slam-toolbox==2.6.10
object-recognition-msgs==2.0.0
std-srvs==4.9.0
tf2-msgs==0.25.15
trajectory-msgs==4.9.0
rosidl-typesupport-c==2.0.2
xacro==2.0.13
ament-cmake-google-benchmark==1.3.12
pcl-msgs==1.0.0
resource-retriever==3.1.3
rosidl-generator-cpp==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
turtlebot3-applications-msgs==1.0.1
rosidl-generator-py==0.14.5
point-cloud-interfaces==1.0.11
zed-msgs==5.0.1
rqt-py-common==1.1.7
nmea-msgs==2.0.0
composition-interfaces==1.2.2
image-geometry==3.2.1
action-msgs==1.2.2
lifecycle-msgs==1.2.2
cv-bridge==3.2.1
geographic-msgs==1.0.6
std-msgs==4.9.0
laser-geometry==2.4.0
tf2-sensor-msgs==0.25.15
theora-image-transport==2.5.3
sensor-msgs==4.9.0
turtlesim==1.4.2
dynamixel-sdk==3.8.4
rclpy==3.3.17
rosidl-cmake==3.1.7
rosbag2-interfaces==0.15.15
interactive-markers==2.3.2
qt-gui-cpp==2.2.4
rosidl-adapter==3.1.7
control-msgs==4.8.0
controller-manager==2.51.0
tf2-geometry-msgs==0.25.15
geometry-msgs==4.9.0
octomap-msgs==2.0.1
ffmpeg-image-transport-msgs==1.1.2
qt-dotgraph==2.2.4
actionlib-msgs==4.9.0
rosgraph-msgs==1.2.2
pendulum-msgs==0.20.5
python-qt-binding==1.1.2
builtin-interfaces==1.2.2
example-interfaces==0.9.3
diagnostic-updater==4.0.6
truststore==0.10.0
zstandard==0.23.0
tensorrt_cu12==10.13.2.6
wandb==0.22.2
Brotli==1.0.9
rich==13.9.4
tensorrt_cu12_bindings==10.13.2.6
menuinst==2.2.0
tensorrt_lean_cu12_bindings==10.13.2.6
conda-content-trust==0.2.0
tensorrt_cu12_libs==10.13.2.6
tensorrt_dispatch_cu12_libs==10.13.2.6
typing_extensions==4.12.2
smmap==5.0.2
protobuf==6.32.1
python-dateutil==2.9.0.post0
nvidia-cuda-runtime-cu13==0.0.0a0
distro==1.9.0
sentry-sdk==2.41.0
gitdb==4.0.12
platformdirs==4.3.7
conda-package-handling==2.4.0
setuptools==78.1.1
tensorrt_dispatch_cu12==10.13.2.6
pyzed==5.0
catkin-pkg==1.0.0
conda-anaconda-tos==0.1.3
tensorrt_cu13_libs==10.13.2.6
tensorrt_lean_cu12==10.13.2.6
tensorrt_dispatch_cu12_bindings==10.13.2.6
wheel==0.45.1
markdown-it-py==2.2.0
cryptography==44.0.1
anaconda-anon-usage==0.7.0
pydantic_core==2.27.1
frozendict==2.4.2
docutils==0.22
conda-anaconda-telemetry==0.1.2
libmambapy==2.0.5
Cython==3.1.2
tensorrt_cu13==10.13.2.6
conda_package_streaming==0.11.0
annotated-types==0.6.0
requests==2.32.3
charset-normalizer==3.3.2
tensorrt==10.13.2.6
cffi==1.17.1
tqdm==4.67.1
certifi==2025.4.26
idna==3.7
Pygments==2.19.1
urllib3==2.3.0
ruamel.yaml==0.18.10
pycosat==0.6.6
PySocks==1.7.1
ruamel.yaml.clib==0.2.12
pyparsing==3.2.3
mdurl==0.1.0
boltons==24.1.0
pycparser==2.21
pip==25.2
jsonpointer==2.1
pydantic==2.10.3
tensorrt_lean_cu12_libs==10.13.2.6
tensorrt_cu13_bindings==10.13.2.6
nvidia-cuda-runtime-cu12==12.9.79
archspec==0.2.3
PyYAML==6.0.3
conda-libmamba-solver==25.4.0
six==1.17.0
GitPython==3.1.45
numpy==2.3.2
jsonpatch==1.33
pluggy==1.5.0
click==8.3.0
conda==25.3.1
packaging==24.2
